<main id="main">
    <section class="gradiantbg">
      <div class="container">
        <div class="row">
          <div class="col-lg-3"></div>
          <div class="col-lg-6 loginbox">
            <h3>Login as</h3>
              <form method="post" id="" action="">
                  <select id="contact" name="contact">
                    <option value="">I am </option>
                    <option value="store">Store</option>
                    <option value="artist">Artist</option>
                    <option value="valuedcustomer"> Valued Customer </option>
                  </select>
                  <input type="text" name="emial" id="name" placeholder="Email">
                  <input type="text" name="password" id="email" placeholder="Password">
                  <input type="checkbox" id="" name="" value="" class="checkbox">
                  <label  for="" class="checkboxlabel" >Keep me Signed in</label><br>                
                <button type="Submit" id="btn_send">Sign in</button>
              </form>

              <a href="" class="forgotpass"> Forgot Password? </a>
          </div>
          <div class="col-lg-3"></div>
        </div>
      </div>
    </section>
  </main>