<main id="main">
    <section class="gradiantbg">
      <div class="container">
        <div class="row">
          <div class="col-lg-3"></div>
          <div class="col-lg-6 loginbox">
            <h3>Customer Sign up</h3>
              <form method="post" id="" action="">
                  
                      <input type="text" name="" id="" placeholder="Username">    
                      <input type="text" name="" id="" placeholder="Your Email ">    
                      <input type="text" name="" id="" placeholder="Your phone number">    
                      <input type="text" name="" id="" placeholder="Password Ex. $1237gas">    
                      <input type="text" name="" id="" placeholder="Confirm Password  Ex. $1237gas">    
                      
                    
                  <button type="Submit" id="btn_send">Sign up</button>
               </form>

          </div>
          <div class="col-lg-3"></div>
        </div>
      </div>
    </section>
  </main>
