<main id="main">
    <section id="slider">
      <div class="carousel-container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" data-slide-number="0">
              <img src="assets/img/banner-1.jpg" alt="Bisken" class="img-fluid">
              <div class="bannerdetails">
                <h1>CREATIVE & UNIQUE ARTS</h1>
                <a href="#">Shop now</a>
              </div>
            </div>
            <div class="carousel-item" data-slide-number="1">
              <img src="assets/img/banner-2.jpg" alt="Bisken" class="img-fluid">
              <div class="bannerdetails">
                <h1>CREATIVE & UNIQUE ARTS</h1>
                <a href="#">Shop now</a>
              </div>
            </div>
            <div class="carousel-item" data-slide-number="2">
              <img src="assets/img/banner-3.jpg" alt="Bisken" class="img-fluid">
              <div class="bannerdetails">
                <h1>CREATIVE & UNIQUE ARTS</h1>
                <a href="#">Shop now</a>
              </div>
            </div>
            <div class="carousel-item" data-slide-number="3">
              <img src="assets/img/banner-4.jpg" alt="Bisken" class="img-fluid">
              <div class="bannerdetails">
                <h1>CREATIVE & UNIQUE ARTS</h1>
                <a href="#">Shop now</a>
              </div>
            </div>
            <div class="carousel-item" data-slide-number="4">
              <img src="assets/img/banner-5.jpg" alt="Bisken" class="img-fluid">
              <div class="bannerdetails">
                <h1>CREATIVE & UNIQUE ARTS</h1>
                <a href="#">Shop now</a>
              </div>
            </div>
            <div class="carousel-item" data-slide-number="5">
              <img src="assets/img/banner-1.jpg" alt="Bisken" class="img-fluid">
              <div class="bannerdetails">
                <h1>CREATIVE & UNIQUE ARTS</h1>
                <a href="#">Shop now</a>
              </div>
            </div>
            <div class="carousel-item" data-slide-number="6">
              <img src="assets/img/banner-2.jpg" alt="Bisken" class="img-fluid">
              <div class="bannerdetails">
                <h1>CREATIVE & UNIQUE ARTS</h1>
                <a href="#">Shop now</a>
              </div>
            </div>
          </div>
        </div>
        <!-- Carousel Navigation -->
        <div id="carousel-thumbs" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active carousel-title">
              <a id="carousel-selector-0" class="selected" data-target="#myCarousel" data-slide-to="0">Shop Now</a>
              <a id="carousel-selector-1" class="" data-target="#myCarousel" data-slide-to="1">Latest Arts</a>
              <a id="carousel-selector-2" class="" data-target="#myCarousel" data-slide-to="2">Books</a>
              <a id="carousel-selector-3" class="" data-target="#myCarousel" data-slide-to="3">Artists</a>
              <a id="carousel-selector-4" class="" data-target="#myCarousel" data-slide-to="4">Stores</a>
              <a id="carousel-selector-5" class="" data-target="#myCarousel" data-slide-to="5">Download the App</a>
              <a id="carousel-selector-6" class="" data-target="#myCarousel" data-slide-to="6">Subscribe</a>
            </div>
          </div>
        </div>
      </div>
    </section>  
    <section id="homeart">
      <div class="container">
        <a href="" class="maintitle"> Buy Native American And Indigenous Arts Here </a>
        <div class="row homepagearts">
          <div class="col-lg-3">
            <img src="assets/img/img-1.png" alt="Bisken" class="img-fluid">
            <div class="arttitle">
              <a href="">Moccasins</a>
            </div>  
          </div>
          <div class="col-lg-3">
            <img src="assets/img/img-2.png" alt="Bisken" class="img-fluid">
            <div class="arttitle">
              <a href="">Paintings </a>
            </div>  
          </div>
          <div class="col-lg-3">
            <img src="assets/img/img-3.png" alt="Bisken" class="img-fluid">
            <div class="arttitle">
              <a href="">Gauntlets</a>
            </div>  
          </div>
          <div class="col-lg-3">
            <img src="assets/img/img-4.png" alt="Bisken" class="img-fluid">
            <div class="arttitle">
              <a href="">Dreamcatchers  </a>
            </div>  
          </div>
        </div>
      </div>
    </section>
    <section id="homeartistsignup">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <img src="assets/img/artistimage-1.png" alt="Bisken" class="img-fluid">
          </div> 
          <div class="homeartistdetails col-lg-6">
            <p class="name"> Gene Asin Solomon </p>
            <P class="border"></P>
            <p class="location">Canada</p>
            <a>Artist Sign up</a>
            <div>
            <a class="yellobtn">Learn More</a>
          </div>
          </div>   
        </div>
      </div>
    </section>
    <div class="container text-center">
        <a href="" class="maintitle"> Visit Our Artists & Stores   </a>
    </div>
    <section id="homestoresignup">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            
          </div> 
          <div class="homeartistdetails col-lg-6">
            <p class="name"> Native Wonders  </p>
            <P class="border"></P>
            <p class="location">Canada</p>
            <a>Store Sign up</a>
            <div>
            <a class="yellobtn">Learn More</a>
          </div>
          </div>   
        </div>
      </div>
    </section>
    <div class="container text-center">
        <a href="" class="maintitle">  Benefits of Biskane  </a>
    </div>
    <section id="ourmission">
      <div class="container">
        <div class="row">
          <div class="homeartistdetails col-lg-12">
            <p class="title"> Our Mission </p>
            <p class="details">Biskane.com is an organization supporting native american and indigenous artists through a digital ecosystem.</p>
            <a class="yellobtn">Read More</a>
          </div>   
        </div>
      </div>
    </section>
    <section id="newsletter">
      <div class="container">
        <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
          <h2>Subscribe</h2>
          <P>Sign up for new release to your inbox every week</P>
          <div class="input-group mb-3 newsletterbox">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
          </div>
          <input type="text" class="form-control" placeholder="Email Address" aria-label="Username" aria-describedby="basic-addon1">
          <span class="input-group-btn">
         <button class="btn btn-theme" type="submit">Subscribe</button>
         </span>
        </div>
  
        </div>
        <div class="col-lg-3"></div>
      </div>  
      </div>
    </section>
  
  </main>
  <router-outlet></router-outlet>