<main id="main">
    <section class="gradiantbg">
      <div class="container">
        <div class="row">
          <div class="col-lg-1"></div>
          <div class="col-lg-10 loginbox">
            <h3>Store Sign up</h3>
              <form method="post" id="" action="">
                  <div class="row">
                    <div class="col-lg-6">
                      <input type="text" name="" id="" placeholder="Username">    
                      <input type="text" name="" id="" placeholder="Your Email ">    
                      <input type="text" name="" id="" placeholder="Your phone number">
                      <input type="text" name="" id="" placeholder="Your Store name">       
                      <input type="text" name="" id="" placeholder="Password Ex. $1237gas">    
                      <input type="text" name="" id="" placeholder="Confirm Password  Ex. $1237gas">    
                    </div>
                    <div class="col-lg-6">
                      <input type="text" name="" id="" placeholder="Address Line">
                      <input type="text" name="" id="" placeholder="City">
                      <select id="contact" name="contact">
                        <option value="">State / Province </option>
                      </select>
                      <input type="text" name="" id="" placeholder="Street address. Ex. 232 park Street North.">
                      <input type="text" name="" id="" placeholder="Zip or Postal Code. Ex: K1Z7B5">
                      <select id="contact" name="contact">
                        <option value=""> Please Select a Country</option>
                      </select>
                    </div>
                  </div>
                  <button type="Submit" id="btn_send">Sign up</button>
               </form>

          </div>
          <div class="col-lg-1"></div>
        </div>
      </div>
    </section>
  </main>